/* CSS HEX */
:root {
    --thistle: rgb(224, 204, 232);
    --amethyst: rgb(160, 108, 213);
    --royal-purple: rgb(98, 71, 170);
    --prussian-blue: rgb(16, 43, 63);
    --dark-green: rgb(6, 39, 38);
    
    /* CSS HEX */
    --russian-violet: #10002b;
    --russian-violet-2: #240046ff;
    --persian-indigo: #3c096cff;
    --tekhelet: #5a189aff;
    --french-violet: #7b2cbfff;
    --amethyst: #9d4eddff;
    --heliotrope: #c77dffff;
    --mauve: #e0aaffff;
    /* SANS SERIF FONTS */
    
    }
    
    * {
        margin: 0;
    }
    
    body {
        background-color: #16121c;
    }
    
    header {
        height: 70px;
        width: 100%;
        font-size: x-small;
        word-spacing: 10px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    
    @media screen and (max-width: 576px) {
        header {
            height: 70px;
            width: 100%;
            font-size: x-small;
            word-spacing: 10px;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    }

    @media screen and (min-width: 576px) and (max-width: 768px) {
        header {
            height: 30px;
            width: 95%;
            font-size: small;
            word-spacing: 10px;
            margin: 15px;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 992px) {
        header {
            height: 30px;
            width: 95%;
            font-size: medium;
            word-spacing: 10px;
            margin: 15px;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    }

    @media screen and (min-width: 992px) and (max-width: 1200px){
        header {
            height: 30px;
            width: 95%;
            font-size: large;
            word-spacing: 10px;
            margin: 15px;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    }
    
    @media screen and (min-width: 1200px) {
        header {
            height: 30px;
            width: 100%;
            font-size: x-large;
            word-spacing: 10px;
            margin: 15px;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: space-evenly;
            align-content: center;
        }
    }
    .logo {
        width: 35px;
        height: 20px;
    }
    
    @media screen and (min-width: 768px) and (max-width: 992px) {
        .logo {
            width: 40px;
            height: 25px;   
        }
    }

    @media screen and (min-width: 992px) {
        .logo {
            width: 45px;
            height: 30px;   
        }
    }
    
    .home {
        color: white;
        font-weight: bold;
        text-decoration: none;
        opacity: 20%;
    }
    .about {
        color: white;
        font-weight: bold;
        text-decoration: none;
        opacity: 20%;
    }
    .projects {
        color: white;
        font-weight: bold;
        text-decoration: underline #c880ff;
        text-decoration-thickness: 3px;
    }
    .blog {
        color: white;
        font-weight: bold;
        text-decoration: none;
        opacity: 20%;
    }
    .contact {
        color: white;
        font-weight: bold;
        text-decoration: none;
        opacity: 20%;
    }

    .home:hover {
        opacity: 40%;
    }
    .about:hover {
        opacity: 40%;
    }
    .contact:hover {
        opacity: 40%;
    }
    .blog:hover {
        opacity: 40%;
    }

main {
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    main {
        font-size: 17px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    main {
        font-size: 20px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    main {
        font-size: 23px;
    }
}

@media screen and (min-width: 1200px) {
    main {
        height: 130px;
        font-size: 27px;
    }
}
.container {
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .container {
        height: 1150px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .container {
        height: 900px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    .container {
        height: 900px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        height: 500px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
}


.box {
    height: 270px;
    width: 250px;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
    background-color: #240046ff;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #dddddd;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .box {
        height: 370px;
        width: 280px;
        margin: 10px;
        border-radius: 20px;
        padding: 20px;
        background-color: #240046ff;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: #dddddd;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .box {
        height: 370px;
        width: 320px;
        margin: 10px;
        border-radius: 20px;
        padding: 20px;
        background-color: #240046ff;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        color: #dddddd;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    .box {
        height: 370px;
        width: 370px;
        margin: 10px;
        border-radius: 20px;
        padding: 20px;
        background-color: #240046ff;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        color: #dddddd;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 1200px) {
    .box {
        height: 370px;
        width: 420px;
        margin: 10px;
        border-radius: 20px;
        padding: 20px;
        background-color: #240046ff;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        color: #dddddd;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}


.project1img {
    border-radius: 10px;
}

.view:hover {
    opacity: 50%;
}

.soon {
    color: white;
    font-size: 2dvh;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}
.view {
    color: white;
    font-size: 2dvh;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}

footer {
    background-color: #16121c;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
}

.fa:hover {
    background: #c880ff;
    color: #16121c;
}

h3 {
    color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    position: absolute;
}

.fa {
    padding: 10px;
    width: 15px;
    height: 15px;
    margin: 10px;
    border-radius: 50%;
    text-decoration: none;
}

.fa-facebook {
    color: #c880ff;
    border: solid;
    border-color: #c880ff;
}
.fa-instagram {
    color: #c880ff;
    border: solid;
    border-color: #c880ff;
}
.fa-linkedin {
    color: #c880ff;
    border: solid;
    border-color: #c880ff;
}
.fa-github {
    color: #c880ff;
    border: solid;
    border-color: #c880ff;
}